{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Math Teacher Problems{% endblock %}</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       
        <link rel="stylesheet" href="{% static 'posts/styles.css' %}">
        
        <!-- Use a favicon.ico  -->
        <link href="{% static 'posts/favicon.ico' %}" rel="icon">

        <!-- include mathjax -->
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>


        <!-- Script for mathml to work-->
        <script type="text/javascript" async
              src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?...">
        </script>

        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div class="navcontainer">
            <nav class="navbar navbar-expand-md navbar-light bg-light border" class="color1" id="nav">
                <a class="navbar-brand" id="navbarlogo" href="/"><img src="{% static 'posts/favicon.ico' %}" width="30" height="30" class="d-inline-block align-top"alt="Math Teacher Problems Logo" loading="lazy"><span class="color1">Math </span><span class="color2">Teacher </span><span class="color3">Problems</span></a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar" class="color1">
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'mathsymbols' %}">Displaying Math Symbols</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'problems' %}">Problems</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Problems (Question Bank)</a></li>
                    </ul>
                    {% if user.is_authenticated %}                <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
                    </ul>
                    {% else %}
                        <ul class="navbar-nav ml-auto mt-2">
                            <li class="nav-item"><a class="nav-link"  href="{% url 'register' %}">Register</a></li>
                            <li class="nav-item"><a class="nav-link"  href="{% url 'login' %}">Log In</a></li>
                        </ul>
                    {% endif %}
                </div>
            </nav>
        </div>
        <div class="bodyholder">
            {% block body %}
            {% endblock %}
        </div>

    
    </body>
</html>