{% extends "posts/layout4.html" %}
{% load static %}
{% block conceptTitle %}
    mathml
{% endblock %}

{% block conceptDescript %}
    <p><img src="{% static 'posts/mathml-square-logo-text-as-path.svg' %}" alt="Logo for W3 Math Working Group"></p>
    <p>The W3 working group describes <a href="https://www.w3.org/Math/">Mathml</a> as
    "a markup language for describing mathematical notation and capturing both its structure and content.
    The goal of MathML is to enable mathematics to be served, received, and processed on the World Wide
    Web, just as HTML has enabled this functionality for text."</p>

{% endblock %}
{% block conceptVideo %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/B304LlHKCUM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>{% endblock %}
{% block uses %}
    Mathml can be used to display complex mathematic and scientific notation on the web.
{% endblock %}
{% block narrative %}
    If you understand HTML, then mathml will be easy to learn. Essentially, the tags all have an "m" at the beginning. A robust tutorial on using mathml is <a href="https://www.tutorialspoint.com/mathml/index.htm">MathML Tutorial</a>. Mathml does have some draw backs. Most importantly, mathml is not supported on all browsers. In the video above you can see the difference between Safari, which supports mathml, and Chrome, which does not.
{% endblock %}

