{% extends "posts/layout3.html" %}
{% load static %}

{% block content %}
    <div class="symbols">
        <h1 >Displaying Math Symbols</h1>   
        <p>Displaying mathematical symbols and notation will be be
            a much easier endeavor if math teachers can add a few tools to their tool kit.
            In particular, it will be important to understand LaTex, Mathml, and mathjax.
            each of these can lead any math teacher down a rabbit hole for which they don't
            have time. This section will briefly explain these three tools, and provide a few
            resources for those who want to learn more.
        </p>
        <p>Use the links on the sidenav to explore each of these topics</p>
    </div>

{% endblock %}