{% extends "posts/layout.html" %}
{% load static %}

{% block body %}
    
    {% csrf_token %}
        <div class="card">
            <div class="card-body">
                {% if problem.image_url %}
                    <div data-post="{{ problem.id }}" class="problem-content"><img src='{{ problem.image_url }}' class="title-image"></div>
                {% endif %}

                <h5 class="card-title"><b>Problem Author:</b> 
                    <a href="{% url 'user' problem.author.username %}">
                        {{ problem.author.username }}
                    </a>
                </h5>
            
                <div data-post="{{ problem.id }}" class="problem-content"><b>Short Description:</b> {{ problem.short_description|safe }}</div>

                <div data-post="{{ problem.id }}" class="problem-content"><b>Long Description:</b> {{ problem.long_description|safe }}</div>
                <br>
                {% if problem.video_example_url %}
                    <div data-post="{{ problem.id }}" class="problem-content"><b>Video Example: </b><iframe class="video" src='{{ problem.video_example_url }}' title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                {% endif %}
                <br>
                <div data-post="{{ problem.id }}" class="problem-content"><b>Potential Solution: :</b> {{ problem.potential_solution|safe }}</div>
                <br>
                {% if problem.solution_video_example_url %}
                    <div data-post="{{ problem.id }}" class="problem-content"><b>Solution Video: </b><iframe class="video" src='{{ problem.solution_video_example_url }}' title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                {% endif %}
                <br>
                <div data-post="{{ problem.id }}" class="problem-content"><b>Takeaway: </b> {{ problem.takeaway|safe }}</div>
                <br>
                <div class="info"><b>Date Created:</b> {{ problem.timestamp }}</div>

                <div class="info">
                    <i
                        data-like="{% if user in problem.likes.all %}1{% else %}0{% endif %}"
                        data-post="{{ problem.id }}"
                        class="{% if user.is_authenticated %}heart{% endif %} fa fa-heart {% if user in problem.likes.all %}liked{% else %}not-liked{% endif %}"
                    ></i>
                    <span class="like-count" data-post="{{ problem.id }}"><b>Likes:</b> {{ problem.likes.count }}</span>
                </div>
                
                {% if problem.author == request.user %}
                <div>
                    <a href="{% url 'edit_problem' problem.id %}">Edit Problem
                        {{ problem.id }}
                    </a>
                </div>
            {% endif %}

            </div>
        </div>


    <script src="{% static 'network/scripts.js' %}"></script>
{% endblock %}