{% extends "layout3.html" %}

{% block title %}
     Math Symbols
{% endblock %}



{% block conceptTitle %}
    Displaying Math Symbols
{% endblock %}

{% block conceptDescript %}
<p>There are many difficulties when it comes to displaying math symbols in the
    digital realm. For math smbols and equations to appear as desired, teachers
    really need to know a handful of other concepts. Each of which can be a deep
    dive into something that seems more complex than the teacher has time for.</p>{% endblock %}
{% block conceptVideo %}{% endblock %}
{% block uses %}{% endblock %}
{% block narrative %}{% endblock %}
{% block concept %}{% endblock %}
