body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #174885;
  overflow-x: hidden;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #c0995a;
  display: block;
}

.sidenav a:hover {
  color: #7bb2dd;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
nav .navbar navbar-expand-md navbar-light bg-light border
{
    background-color: #174885;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    color: #174885;
}

/* Colors for brand */
nav .navbar-brand .powderblue
{
    color: #7bb2dd;
}
nav .navbar-brand .royalblue
{
    color: #174885;
}
nav .navbar-brand .gold
{
    color: #c0995a;
}

/* Make the navbar sticky */
nav .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

nav .sticky + .content {
  padding-top: 60px;
}

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}

table, td, th {
  border: 1px solid black;
}
th {
  background-color: #174885;

}

